---
---

@import "fonts/ostrich-sans.css";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

$color-pink: #FB6964;
$color-light-pink: #FFB7B7;
$color-blue: #1352A2;
$color-dark-gray: #3C3C3C;
$font-family-sans: 'Noto Sans', sans-serif;

body {
    color: $color-dark-gray;
    font-family: $font-family-sans;
}

::selection {
    background: $color-light-pink;
}

::-moz-selection {
    background: $color-light-pink;
}

html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
    font-family: $font-family-sans;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ostrich Sans Rounded';
    font-weight: normal;
    color: $color-dark-gray;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: $color-blue;
    text-decoration-skip: ink;

    &.repo-link {
        &:hover {
            text-decoration: none;
        }
    }
}

a:hover,
a:focus {
    text-decoration: underline;
}

p code {
    border: 1px solid #aaa;
    padding: 1px 6px;
}

pre {
    border: 1px solid #aaa;
    padding: 8px;
}


/* LAYOUT CSS */

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 2em;
}

.sidebar {
    background: #F0F1EE;
    color: $color-dark-gray;
}

.blog-title,
.blog-tagline {
    margin: 0;
}

.blog-title {
    text-transform: uppercase;
    font-family: 'Ostrich Sans', sans-serif;
}

.blog-title>a {
    color: inherit;
    text-decoration: none;
}

.blog-title .first-name {
    font-weight: normal;
    font-size: 48px;
    margin-left: 10px;
    letter-spacing: 10px;
}

.blog-title .last-name {
    font-weight: 700;
    font-size: 79px;
}

.blog-tagline {
    border-top: 1px solid $color-blue;
    font-weight: normal;
    font-size: 28px;
    padding-top: 10px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    border: 2px solid $color-pink;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid $color-blue;
    text-decoration: none;
    background-image: none;
}

.content-subhead {
    text-transform: uppercase;
    color: $color-dark-gray;
    border-bottom: 1px solid #aaa;
    padding: 0.4em 0;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    font-size: 2em;
    color: $color-dark-gray;
    letter-spacing: 1.5px;
    margin-bottom: 0.2em;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-description {
    color: #444;
    line-height: 1.8em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}

.post-category-design {
    background: #5aba59;
}

.post-category-js {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}

.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}

.footer a {
    color: #ccc;
    font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }
    .header {
        margin: 80% 2em 0;
        text-align: center;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

.at-a-glance {
    img {
        margin-right: 1rem;
        width: 100px;
        float: left;
    }
    p {
        margin-top: 0;
    }
}

.project-list {
    .img-container {
        max-height: 250px;
        border: 1px solid #ccc;
        overflow: hidden;
        @media screen and (min-width: 64em) {
            height: 250px;
        }
    }
    .project-img {
        width: 100%;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        /* Firefox 3.5+ */
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+ & Safari 6+ */
        transition: all 1s ease;
        &:hover {
            filter: none;
            -webkit-filter: grayscale(0%);
        }
    }
}

.project-item {
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    > h3 {
        color: #3d3d3d;
        font-family: $font-family-sans;
        font-size: 1.1rem;
    }
    > a {
        display: block;
    }
}