---
layout: index
published: true
---

<div class="content-section">
  <h2 class="content-subhead">Hi, I'm James!</h2>
  <div class="at-a-glance">
    <div class="pure-g">
      <div class="pure-u-1">
        <img src="/img/me_2020.png" alt="James Seppi"/>
        <p>I am a software developer in Austin, Texas, currently on the Map Design Team at <a href="https://www.mapbox.com">Mapbox</a>. I code primarily for the web using JavaScript and Python, but dabble in other languages.</p>
        <p>Prior to Mapbox, I worked at <a href="https://18f.gsa.gov" title="18F">18F</a>, where I was the technical lead on a number of projects that help transform the way the federal government delivers digital services.</p>
        <p>Before 18F, I was the lead software developer at the <a href="https://tnris.org">Texas Natural Resources Information System (TNRIS)</a>, where I helped transition the group to using and <a href="https://github.com/tnris">creating</a> open-source software, and to using cloud-based infrastructure.</p>
        <p>Much of my code is <a href="https://github.com/jseppi">open source</a>, and I enjoy contributing to other open source projects.</p>
        <p>In my free time, I'm a fiddle and mandolin player, an aspirational rock climber, an enthusiastic traveler, and a decent <a href="http://kitchen.coseppi.com">home cook</a> and beer brewer.</p>
        
        <p>Other interesting tidbits:</p>
        <ul>
          <li>I&apos;m a board member for the <a href="https://aftm.us">Austin Friends of Traditional Music</a>.</li>
          <li>I was the program chair for FOSS4G-NA 2018.</li>
          <li>My wife and I spent six months living at 10,000 feet in Huaraz, Peru, while working on an Engineers Without Borders project to help local communities adapt to climate change.</li>
          <li>I have a Master of Engineering degree in Environmental and Water Resources Engineering from the University of Texas.</li>
          <li>My wife and I swept the awards at the <a href="https://kitchen.coseppi.com/2012/11/11/lone-star-vegetarian-chili-cook-off/">24th Annual Lone Star Vegetarian Chili Cook-Off</a>.</li>
          <li>As an undergraduate I studied abroad in Hangzhou, China, and I have a Bachelor of Arts degree in Chinese (but I&apos;m extremely out of practice).</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <h2 class="content-subhead">Projects &amp; Activities</h2>
  <div class="project-list">
    <div class="pure-g">

      {% for p in site.data.projects %}
        
        <div class="pure-u-1 pure-u-lg-1-2">
          <div class="project-item">
            <h3>{{ p.name }} {% if p.organization %}| {{ p.organization }}{% endif %}</h3>
            
            <div class="img-container">
              <a href="{{ p.link }}" target="_blank" title="{{ p.name }}"><img class="pure-img project-img" src="/img/projects/{{ p.image }}" /></a>
            </div>

            <p>
              {% if p.github_repo %}
                <a class="repo-link" href="https://github.com/{{ p.github_repo }}">
                  <svg height="15" aria-label="GitHub repo for Federalist" class="octicon octicon-octoface" viewBox="0 0 16 16" version="1.1" width="15" role="img"><path fill-rule="evenodd" d="M14.7 5.34c.13-.32.55-1.59-.13-3.31 0 0-1.05-.33-3.44 1.3-1-.28-2.07-.32-3.13-.32s-2.13.04-3.13.32c-2.39-1.64-3.44-1.3-3.44-1.3-.68 1.72-.26 2.99-.13 3.31C.49 6.21 0 7.33 0 8.69 0 13.84 3.33 15 7.98 15S16 13.84 16 8.69c0-1.36-.49-2.48-1.3-3.35zM8 14.02c-3.3 0-5.98-.15-5.98-3.35 0-.76.38-1.48 1.02-2.07 1.07-.98 2.9-.46 4.96-.46 2.07 0 3.88-.52 4.96.46.65.59 1.02 1.3 1.02 2.07 0 3.19-2.68 3.35-5.98 3.35zM5.49 9.01c-.66 0-1.2.8-1.2 1.78s.54 1.79 1.2 1.79c.66 0 1.2-.8 1.2-1.79s-.54-1.78-1.2-1.78zm5.02 0c-.66 0-1.2.79-1.2 1.78s.54 1.79 1.2 1.79c.66 0 1.2-.8 1.2-1.79s-.53-1.78-1.2-1.78z"></path></svg>
                </a>
              {% endif %}
              {{ p.about }}
            </p>

          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</div>


{% comment %}
<div class="content-section">
  <h2 class="content-subhead">Posts</h2>
  {% for item in site.categories.articles limit:40 offset:0 %}
      <p>{{ item.date | date: "%B %d, %Y" }} | <a href="{{item.url}}" title="{{item.title}}">{{item.title}}</a></p>
  {% endfor %}
</div>
{% endcomment %}

<div class="content-section">
  <h2 class="content-subhead">Contact</h2>
  <ul>
    <li>james.seppi at gmail.com</li>
    <li><a href="https://github.com/jseppi">github.com/jseppi</a></li>
    <li><a href="https://twitter.com/hydrologee">@hydrologee</a></li>
    <li><a href="https://www.linkedin.com/in/james-seppi-5b884a40">LinkedIn</a></li>
    <li><a href="https://kitchen.coseppi.com">Coseppi Kitchen</a> - Vegetarian Cooking Blog by James Seppi and Taylor Cook</li>
  </ul>
</div>

<div class="content-section">
  <p>If you see something incorrect, or that could be done better, or that just rubs you the wrong way, please let me know!</p>
</div>
